<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyy.kcbweekly.weekly.mapper.UserInfoMapper">
    <resultMap id="UserInfoMapperMap" type="com.hyy.kcbweekly.weekly.entity.UserInfo">
        <result column="id" property="id" />
        <result column="mobile_number" property="mobileNumber" />
        <result column="nick_name" property="nickName" />
    </resultMap>

    <select id="findMobileCode" resultMap="UserInfoMapperMap" parameterType="java.lang.String">
        select * from verification_code where mobile_number =#{mobile} and code = #{code}
    </select>
</mapper>
